
{% extends 'base.html' %}
{% load bootstrap5 %}
    
    {% block content %}

        <div class="container-fluid mt-4 pt-3">

        {% if message %}
          <div class="alert alert-success alert-dismissible fade show d-flex align-items-center" role="alert">
            <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Success:"><use xlink:href="#check-circle-fill"/></svg>
            <div>
              {{ message }}
            </div>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
          </div>
        {% endif %}
        
        {% if err_msg %}
          <div class="alert alert-danger alert-dismissible fade show d-flex align-items-center" role="alert">
            <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Danger:"><use xlink:href="#exclamation-triangle-fill"/></svg>
            <div>
              {{ err_msg }}
            </div>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
          </div>
        {% endif %}

            <div class="card border-success col-md-6 offset-md-3">
                <div class="card-header">
                    <h4>Fetch Poll Result</h4>
                </div>
                <div class="card-body">
                <form method="post">
                    {% csrf_token %}
                    {% bootstrap_form form %}
                    {% buttons %}
                    <button type="submit" class="btn btn-success float-end">Fetch Result</button>
                    {% endbuttons %}
                </form>
                </div>
                <div class="card-footer">
                  {% if query %}
                  <table class="table table-success table-striped">
                      <thead>
                        <tr>
                          <th scope="col">Polling Unit Id</th>
                          <th scope="col">Party Name</th>
                          <th scope="col">Party Score</th>
                        </tr>
                      </thead>
                      
                      <tbody>
                        {% for item in query %}
                        <tr>
                          <td>{{ item.polling_unit_unique_id }}</td>
                          <td>{{ item.party_abbreviation }}</td>
                          <td>{{ item.party_score }}</td>
                        </tr>
                        {% endfor %}
                      </tbody>
                  </table>
                  {% endif %}
                </div>
            </div>
        </div>
        
  {% endblock %}